<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxb.gxsx.mapper.LeaveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yxb.gxsx.entity.Leave">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="type" property="type" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="duration" property="duration" />
        <result column="reason" property="reason" />
        <result column="explain" property="explain" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
